html, body {
  background-color: #fbfbfb;
}

.open-in-new-link {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

time {
  font-style: italic;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-card audio {
  width: 100%;
}

.result-card .result-text {
  flex: 1 auto;
  padding-right: 20px;
  font-size: 1.2rem;
}

.result-card .result-score {
  font-weight: italic;
}

.result-title {
  font-weight: bold;
}

.highlighted {
  background: yellow;
}
